body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-nav .navbar-link {
  padding-left: 20px;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-weight: bold;
}

.btn-primary {
  width: 100%;
}

.mt-4 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.chart-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 20px !important;
  margin-top: 10px !important;
  padding: 20px !important;
}

.chart-app {
  display: block;
  max-width: 50%;
  width: 500px;
  height: auto;
  margin: 0;
  padding: 0;
}

.chart-info {
  max-width: 50%;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    gap: 15px;
  }
}
