body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-nav .navbar-link {
  padding-left: 20px;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #ffffff;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-weight: bold;
}

.btn-primary {
  width: 100%;
}

.mt-4 {
  margin-top: 1.5rem;
}

#sr-pie-chart,
#sr-bar-chart,
#efr-pie-chart,
#efr-bar-chart,
#bhr-pie-chart,
#bhr-bar-chart,
#bhodr-pie-chart,
#bhodr-bar-chart,
#dar-pie-chart,
#dar-bar-chart,
#nwar-pie-chart,
#nwar-bar-chart,
#roi-pie-chart,
#roi-bar-chart,
#iagpr-pie-chart,
#iagpr-bar-chart {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 500px;
  height: auto;
}
