body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container-fluid {
  margin-top: 50px;
  max-width: 600px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}

p {
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.btn-primary {
  width: 100%;
}

.mt-4 {
  margin-top: 1.5rem;
}
