<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Savings Ratio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
  </head>
  <body>
    <div class="d-flex">
      <!-- Tombol Hamburger -->
      <button class="navbar-toggler" type="button" id="toggleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Vertikal -->
      <nav
        id="sidebar"
        class="nav flex-column bg-light p-3"
        style="width: 200px; display: none"
      >
        <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link active" href="{{ url_for('roi') }}"
          >Return on Investment (ROI)</a
        >
        <a class="nav-link" href="{{ url_for('savings_rate') }}"
          >Savings Rate (SR)</a
        >
        <a class="nav-link" href="{{ url_for('dti_ratio') }}"
          >Debt to Income Ratio (DTI)</a
        >
        <a class="nav-link" href="{{ url_for('emergency_fund_ratio') }}"
          >Emergency Fund Ratio (EFR)</a
        >
        <a class="nav-link" href="{{ url_for('liquidity_ratio') }}"
          >Liquidity Ratio (LR)</a
        >
        <a class="nav-link" href="{{ url_for('net_worth_to_assets_ratio') }}"
          >Net Worth to Assets Ratio (NWAR)</a
        >
        <a class="nav-link" href="{{ url_for('debt_to_assets_ratio') }}"
          >Debt to Assets Ratio (DAR)</a
        >
        <a class="nav-link" href="{{ url_for('iatar') }}"
          >Investment Assets to Total Assets Ratio (IATAR)</a
        >
        <a class="nav-link" href="{{ url_for('bhr') }}"
          >Basic Housing Ratio (BHR)</a
        >
        <a class="nav-link" href="{{ url_for('bhodr') }}"
          >Basic Housing and Other Debts Ratio (BHODR)</a
        >
        <a class="nav-link" href="{{ url_for('iagpr') }}"
          >Investment Assets to Gross Pay Ratio (IAGPR)</a
        >
      </nav>

      <!-- Konten Utama untuk Savings Ratio -->
      <div class="container-fluid">
        <h1 class="mt-5">Debt to Income Ratio (DTI)</h1>
        <p>Halaman ini berisi kalkulator investasi lainnya.</p>

        <!-- Tambahkan form atau konten lain untuk kalkulator -->
        <form method="POST">
          <div class="mb-3">
            <label for="monthly_total_debt" class="form-label"
              >Jumlah Utang Bulanan (IDR):</label
            >
            <input
              type="number"
              step="any"
              class="form-control"
              id="monthly_total_debt"
              name="monthly_total_debt"
              required
            />
          </div>
          <div class="mb-3">
            <label for="monthly_gross_income" class="form-label"
              >Pendapatan Bulanan Bruto (IDR):</label
            >
            <input
              type="number"
              step="any"
              class="form-control"
              id="monthly_gross_income"
              name="monthly_gross_income"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">
            Hitung Debt to Income Ratio (DTI)
          </button>
        </form>
        {% if dti_ratio is not none %}
        <div class="mt-4">
          <h3>Hasil Debt to Income Ratio (DTI): {{ dti }}%</h3>
          <p>Jumlah Total Utang Bulanan: IDR {{ monthly_total_debt }}</p>
          <p>Pendapatan Bulanan Bruto: IDR {{ monthly_gross_income }}</p>
        </div>
        {% endif %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
