<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investment Assets to Gross Pay Ratio (IAGPR)</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <!-- New Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-navbar">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img
            src=""
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Vestify
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ url_for('index') }}"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Calculator
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ url_for('sr') }}"
                  >Savings Rate</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('efr') }}"
                  >Emergency Fund Ratio</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('bhr') }}"
                  >Basic Housing Ratio</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('bhodr') }}"
                  >Broad Housing and Other Debts Ratio</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('dar') }}"
                  >Debt to Assets Ratio</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('nwar') }}"
                  >Net Worth to Assets Ratio</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('roi') }}"
                  >Return on Investment</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('iagpr') }}"
                  >Investment Assets to Gross Pay Ratio</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- End of New Navbar -->

    <!-- Investment Assets to Gross Pay Ratio (IAGPR) Content and Form -->
    <div class="container-fluid">
      <h1 class="mt-5">Investment Assets to Gross Pay Ratio (IAGPR)</h1>
      <form method="POST">
        <div class="mb-3">
          <label for="investment_assets" class="form-label"
            >Investment Assets:</label
          >
          <input
            type="text"
            step="any"
            class="form-control"
            id="investment_assets"
            name="investment_assets"
            data-output-id="currency-output1"
            placeholder="Enter Amount"
            required
          />
          <p>Amount: <span id="currency-output1">0</span></p>
        </div>
        <div class="mb-3">
          <label for="cash" class="form-label">Cash:</label>
          <input
            type="text"
            step="any"
            class="form-control"
            id="cash"
            name="cash"
            data-output-id="currency-output2"
            placeholder="Enter Amount"
            required
          />
          <p>Amount: <span id="currency-output2">0</span></p>
        </div>
        <div class="mb-3">
          <label for="annual_gross_income" class="form-label"
            >Annual Gross Income:</label
          >
          <input
            type="text"
            step="any"
            class="form-control"
            id="annual_gross_income"
            name="annual_gross_income"
            data-output-id="currency-output3"
            placeholder="Enter Amount"
            required
          />
          <p>Amount: <span id="currency-output3">0</span></p>
        </div>
        <button id="calculate-btn" type="submit" class="btn btn-primary">
          Calculate IAGPR
        </button>
      </form>
      {% if iagpr is not none %}
      <div class="mt-4">
        <h3 id="iagpr-distribution-title">
          Investment Assets to Gross Pay Ratio
        </h3>
        <div class="chart-container" id="iagpr-pie-chart-container">
          <div class="chart-app">
            <canvas id="iagpr-pie-chart"></canvas>
          </div>
          <div class="chart-info">
            <p>Investment Assets: {{ investment_assets }}</p>
            <p
              id="investment_assets_dist"
              data-value="{{ investment_assets_dist }}"
            >
              %Investment Assets: {{ investment_assets_dist }}
            </p>
            <p>Cash: {{ cash }}</p>
            <p id="cash_dist" data-value="{{ cash_dist }}">
              %Cash: {{ cash_dist }}
            </p>
            <p>Annual Gross Income: {{ annual_gross_income }}</p>
            <p
              id="annual_gross_income_dist"
              data-value="{{ annual_gross_income_dist }}"
            >
              %Annual Gross Income: {{ annual_gross_income_dist }}
            </p>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h3 id="iagpr-result_title">
          Investment Assets to Gross Pay Ratio Result
        </h3>
        <h3 id="iagpr-result" data-value="{{ iagpr }}">
          Your Investment Assets to Gross Pay Ratio: {{ iagpr }}%
        </h3>
        <div class="chart-container" id="iagpr-bar-chart-container">
          <div class="chart-app">
            <canvas id="iagpr-bar-chart"></canvas>
          </div>
          <div class="chart-info">
            <p id="iagpr-result-description">bla bla bla bla bla bla bla ...</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/iagpr_chart_data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/currency_format.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
