<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Savings Rate (SR)</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="d-flex">
      <!-- Hamburger Button -->
      <button class="navbar-toggler" type="button" id="toggleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Vertical Navbar -->
      <nav
        id="sidebar"
        class="nav flex-column bg-light p-3"
        style="width: 200px; display: none"
      >
        <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link active" href="{{ url_for('features') }}">Features</a>
        <a class="nav-link" href="{{ url_for('sr') }}">Savings Rate (SR)</a>
        <a class="nav-link" href="{{ url_for('efr') }}"
          >Emergency Fund Ratio (EFR)</a
        >
        <a class="nav-link" href="{{ url_for('bhr') }}"
          >Basic Housing Ratio (BHR)</a
        >
        <a class="nav-link" href="{{ url_for('bhodr') }}"
          >Broad Housing and Other Debts Ratio (BHODR)</a
        >
        <a class="nav-link" href="{{ url_for('dar') }}"
          >Debt to Assets Ratio (DAR)</a
        >
        <a class="nav-link" href="{{ url_for('nwar') }}"
          >Net Worth to Assets Ratio (NWAR)</a
        >
        <a class="nav-link active" href="{{ url_for('roi') }}"
          >Return on Investment (ROI)</a
        >
        <a class="nav-link" href="{{ url_for('iagpr') }}"
          >Investment Assets to Gross Pay Ratio (IAGPR)</a
        >
      </nav>

      <!-- Savings Ratio Content and Form -->
      <div class="container-fluid">
        <h1 class="mt-5">Savings Rate (SR)</h1>
        <form method="POST">
          <div class="mb-3">
            <label for="annual_savings" class="form-label"
              >Annual Savings:</label
            >
            <input
              type="text"
              step="any"
              class="form-control"
              id="annual_savings"
              name="annual_savings"
              data-output-id="currency-output1"
              placeholder="Enter Amount"
              required
            />
            <p>Amount: <span id="currency-output1">0</span></p>
          </div>
          <div class="mb-3">
            <label for="employer_match" class="form-label"
              >Employer Match:</label
            >
            <input
              type="text"
              step="any"
              class="form-control"
              id="employer_match"
              name="employer_match"
              data-output-id="currency-output2"
              placeholder="Enter Amount"
              required
            />
            <p>Amount: <span id="currency-output2">0</span></p>
          </div>
          <div class="mb-3">
            <label for="annual_gross_income" class="form-label"
              >Annual Gross Income:</label
            >
            <input
              type="text"
              step="any"
              class="form-control"
              id="annual_gross_income"
              name="annual_gross_income"
              data-output-id="currency-output3"
              placeholder="Enter Amount"
              required
            />
            <p>Amount: <span id="currency-output3">0</span></p>
          </div>
          <button id="calculate-btn" type="submit" class="btn btn-primary">
            Calculate SR
          </button>
        </form>
        {% if sr is not none %}
        <div class="mt-4">
          <h3 id="sr-distribution-title">Savings Rate Distribution</h3>
          <div id="sr-pie-chart-container">
            <canvas id="sr-pie-chart"></canvas>
          </div>
          <p>Annual Savings: {{ annual_savings }}</p>
          <p id="annual_savings_dist" data-value="{{ annual_savings_dist }}">
            %Annual Savings: {{ annual_savings_dist }}
          </p>
          <p>Employer Match: {{ employer_match }}</p>
          <p id="employer_match_dist" data-value="{{ employer_match_dist }}">
            %Employer Match: {{ employer_match_dist }}
          </p>
          <p>Annual Gross Income: {{ annual_gross_income }}</p>
          <p
            id="annual_gross_income_dist"
            data-value="{{ annual_gross_income_dist }}"
          >
            %Annual Gross Income: {{ annual_gross_income_dist }}
          </p>
          <h3 id="sr-result-title">Savings Rate Result</h3>
          <h3 id="sr-result" data-value="{{ sr }}">
            Your Savings Rate: {{ sr }}%
          </h3>
          <div id="sr-bar-chart-container">
            <canvas id="sr-bar-chart"></canvas>
          </div>
          <p id="sr-result-description">bla bla bla bla bla bla bla ...</p>
        </div>
        {% endif %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/sr_chart_data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/currency_format.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>
